*{
    margin:0%;
    padding:0%;
    font-family: 'ubuntu',sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,100;1,400;1,700&family=Ubuntu+Mono:ital@0;1&display=swap');
